body {
    height: 100vh;
    background-color: lightgray;
    display: grid;
    place-items: center;
}

.popup-container {
    height: 200px;
    width: 400px;
    border: none;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 24px 0 rgba(0,0,0,.24);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: 'Libre Franklin', sans-serif;
    transition: all ease 0.25ms;
}

.popup-btn {
    padding: 8px 16px;
    margin-bottom: 10px;
    background-color: darkblue;
    color: #fff;
    border: none;
    border-radius: 2em;
}

